table {
    width: 100%;
	border: 4px solid #919191;
	border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    font-family: SANS-SERIF;
	border: 3px solid #d9d9d9;
}

tr{background-color: #f2f2f2}

th {
    background-color: #000080;
    color: white;
    font-family: Arial;
    font-size:16px;
}
td ul {
       list-style: none;
}
#placeOrderButton{
	float: right;
	width: 250px;
    height: 50px;
    border: #f07a29;
	border-radius: 3px;
    background-color: #f08b29;
    font-weight: bold;
	font-size: 16px;
	cursor:pointer;
}
#placeOrderButton a{
	text-decoration: none;
    color: black;
}
#placeOrderButton:hover{
	background-color:#ee6b11;
}
tr td img{
    width: 200px;
    height: 180px;
}
#placeOrder{
    float: right;
}
#removeButton{
	width: 100px;
    height: 30px;
    background-color: #cc3d3d;
    border: #cc3d3d;
    color: white;
	cursor:pointer;
	border-radius:3px;
}
#removeButton:hover{
	background-color:#a92d2d
}
#totalAmount{
    width: 100%;
	text-align: right;
}
#placeOrderDiv{
	width:100%;
}
.total{
	background: #d9d9d9;
    color: #606060;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
}
#pageTitle{
	width:33%;
	float:left;
}
#loginId{
	width:33%;
	float:left;
	text-align:center;
}
#CartDisplay{
	width:33%;
	float:left;
	text-align: right;
}
#customerLinks a{
	color:white;
	font-family: arial;
    margin-left: 10px;
    font-weight: bold;
	text-decoration:none;
}
#customerLinks a:hover{
	text-decoration:underline;
}
#managerLinks a{
	color:white;
	font-family: arial;
    margin-left: 10px;
    font-weight: bold;
	text-decoration:none;
}
#managerLinks a:hover{
	text-decoration:underline;
}
#links{
	background-color:#000040;
}